@import 'https://fonts.googleapis.com/css?family=Maven+Pro';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
}
body{
  /*  justify-content: center;
    align-items: center;*/
    min-height: 100%;
    background: #fff;
    text-align: center;
    
}
.container{
    display: inline-flex;
    flex: 1;
    width: 1000px;
    margin: 0 auto;
}
button{
    flex-direction: row;
    width: 170px;
    height: 70px;
    margin: 15px;
}
.div{
    width: 100px;
    height: 100px;
}
div{
    
/*    flex-direction: row;*/
/*    height: 100px;*/
}

.info{
/*    padding: 40px;*/
    width: 150px;
    height: 150px;
    flex-direction: column;
/*    text-align: center;*/
}
img{
    border-radius: 100px;
    box-shadow: 0 0 7px #666;
}
.info-text{
    color: #0e0e0e;
    font-size: 1.1em;
    font-family: 'Maven Pro', 'ubuntu';
    font-weight: 300;
    
}