@import 'https://fonts.googleapis.com/css?family=Maven+Pro';
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
}
body{
  /*  justify-content: center;
    align-items: center;*/
    min-height: 100%;
    background: #fff;
    text-align: center;
    
}
.container{
    display: inline-flex;
    margin: 0 auto;
}
button{
/*     flex-direction: row; */
    width: 170px;
    height: 70px;
    margin: 15px;
}
.div{
    width: 100px;
    height: 100px;
}

.a{
    text-decoration: none;
}

img{
    border-radius: 10px;
    box-shadow: 0 0 7px #666;
}
.info-text{
    color: #0e0e0e;
    font-size: 1.1em;
    font-family: 'Maven Pro', 'ubuntu';
    font-weight: 300;
    
}